.cartPage {
  width: 100%;
  padding: 15px 0;
}
.cartList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
h2.discountMessage{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: 1px;
  text-align: center;
  padding: 0 10px;
}
.cartHeader{
  display: flex;
  padding-left: 15px;
  gap: 15px;
}
.cart{
  display: flex;
  flex-direction: column;
  flex: 6;
  gap: 30px;
}
.total{
  width: max-content;
  height: max-content;
  margin-right: 0;
  font-size: 1.2rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #b5bdbd25;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 55px;
  padding: 10px 20px;
}
.cartBox {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px;
  background-color: #b5bdbd25;
  display: flex;
  justify-content: space-between;
}
.cartBox:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
  background-color: #02a6a325;
}
.cartBox .boxLeft {
  flex: 1;
}
.cartBox .boxLeft img {
  height: 100%;
}
.cartBox .boxRight {
  flex: 7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.cartBox .boxRight h3 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Dosis, sans-serif";
}
.cartBox .boxRight h4 {
  font-size: 1.2rem;
}
.cartBox .boxRight p {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  min-width: max-content;
}
.cartBox .boxRight .quantityBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cartBox .boxRight .plusMinus {
  display: flex;
  flex-direction: column;
}
.cartBox .boxRight .plusMinus svg {
  cursor: pointer;
}
.cartBox .boxRight .inputQuantity {
  width: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.cartBox .boxRight .delete svg {
  font-size: 1.8rem;
  color: var(--primary-color);
  cursor: pointer;
}
.cartList button{
  width: 130px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

}
.cartList button span{
  font-size: 20px;
}
.cartList button:hover {
  background-color: #02a6a325;
  color: var(--secondary-color);
}
.orderCheckout{
  width: 90%;
  padding: 15px 0;
}
.cartList .address{
  flex: 2;
}
.payment{
  flex: 1;
}
.checkout{
  display: flex;
}
.checkout h2{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.addressBox , .addresses{
  display: flex;
  flex-direction: column !important;
  gap: 10px;
}
.addressRadio{
  display: flex;
  align-items: center;
  gap: 30px;
}
.addressRadio label{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
  margin-bottom: 0;
}
.newAddress{
  padding: 15px;
}
.newAddressInput{
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.paymentMethod{
  width: 200px;
}
.submitOrder a{
  text-decoration: none;
}
.paymentWithCard{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}
.paymentWithCard h2{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: 1px;
}
.paymentWithCard h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
}
.paymentWithCard h4{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
  padding: 10px;
  width: max-content;
  place-self: center;
  background-color: #9de7e725;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.paymentWithCard ul{
  list-style: none;
  padding: 0;
}
.paymentWithCard ul li{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
}
.paymentWithCard form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-top: 15px;
  margin: auto;
}
.paymentWithCard form>div{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.paymentWithCard form>div input{
  width: 80%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.paymentWithCard form>div label{
  font-size: 1rem;
  font-weight: 600;
  font-family: "Dosis, sans-serif";
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
}
.size{
  width: 100px;
}
/***********************************************************************************************************************/
  
@media (min-width: 340px) and (max-width: 750px) {
  .cartBox {
    flex-direction: column;
    height: max-content;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .cartBox .boxRight h3 {
    width: 43%;
  }
  .cartBox .boxLeft img{
    height: 100px;
  }
  .cartHeader{
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 15px;
  }
  .total{
    place-self: flex-end;
    margin-right:20px;
  }
  .cart{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}