p{
  letter-spacing: 1px;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
.home {
  margin: auto;
  width: 100%;
}
.homeBannerSection {
  width: 98%;
  margin-bottom: 15px;
}
.home .discount {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.home .discount img {
  width: 25%;
  height: 100%;
}
.home .disc-prod {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.home .disc-prod img {
  width: 90%;
}
.popularProducts,
.newProducts,
.featuredProducts {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
h2 {
  padding-left: 15px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
}
.underTitle {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
  padding-left: 15px;
}
.productsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.boxLink {
  text-decoration: none !important;
}
.productBox {
  width: 215px;
  height: 480px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px;
  background-color: #b5bdbd25;
  display: flex;
  flex-direction: column;
}
.productBox:hover {
  box-shadow: 2px 3px 7px 7px rgba(0, 0, 0, 0.3);
  background-color: #02a6a325;
}
.productBox .boxTop {
  height: 50%;
  position: relative;
}
.productBox .boxTop .discountNumber {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--tertiary-color);
  color: white;
  padding: 5px;
  border-radius: 0 0 10px 0;
  font-size: 14px;
  font-weight: 600;
}
.productBox .boxTop .heart {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.productBox .boxTop .heart:hover {
  color: red;
}
.productBox .boxTop .fullScreen {
  position: absolute;
  bottom: 15px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.7);
}
.productBox .boxTop img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productBox .boxTop .fullScreen:hover {
  font-size: 24px;
}
.productBox .boxBottom {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.productBox .boxBottom .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.productBox .boxBottom h3 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  padding: 8px 0;
  height: 25%;
}
.productBox .boxBottom .coins {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  font-family: "Dosis", sans-serif;
}
.productBox .boxBottom h4 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
}
.productBox .boxBottom .rating {
  text-align: center;
}
.productBox .boxBottom .rating svg {
  color: var(--tertiary-color);
  font-size: 28px;
}
.productBox .boxBottom .oldPrice {
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
.productBox .boxBottom .currentPrice {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}
.productBox .boxBottom .addToCart {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 30px;
  cursor: pointer;
}
.productBox .boxBottom .addToCart:hover {
  color: green;
}
.allProducts .allProductsList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.previous-next {
  cursor: pointer;
  outline: none !important;
  color: var(--secondary-color) !important;
  border-radius: 10px !important;
}
.active {
  background-color: var(--secondary-color) !important;
  color: white !important;
  outline: none !important;
  border-radius: 10px !important;
}
.inactive {
  background-color: transparent !important;
  color: var(--secondary-color) !important;
  outline: none !important;
  border-radius: 10px !important;
}
.allProducts {
  width: 100%;
  padding: 15px 0;
  flex: 9;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -10px;
}
.shopPage{
  display: flex;
}
.filter {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 10px;
  height: fit-content;
  position: sticky;
  top: 80px;
  left: 0;
  margin-top: -10px;
}
.filterByPrice {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filterByPrice h3,
.filterByRating h3 {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  padding: 8px 0;
  text-transform: uppercase;
}
.filterByPrice p,
.selectedRating .selectedRatingText {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.filterByPrice .priceRange {
  width: 220px;
}
.range-slider .range-slider__range,
.range-slider .range-slider__thumb {
  background-color: var(--secondary-color) !important;
}
.filterByRating {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ratingFilter {
  display: flex;
  gap: 10px;
}
.filterByRating .ratingFilter .notAll {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #ccc;
}
.filterByRating .ratingFilter .all {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: var(--tertiary-color);
}
.filterByRating .ratingFilter .selected {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: var(--tertiary-color);
}
.filterByRating .ratingFilter .notSelected {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #ccc;
}
.filterByRating .ratingFilter .star {
  color: var(--tertiary-color);
}

/***********************************************************************************************************************/

@media (min-width: 750px) and (max-width: 1180px) {
  .homeBannerSection {
    width: 95%;
    margin: auto;
  }
  .filter {
    flex: 4;}
}

/***********************************************************************************************************************/

@media (min-width: 340px) and (max-width: 750px) {
  .homeBannerSection {
    width: 95%;
    margin: auto;
  }
  .shopPage{
    flex-direction: column;
  }
  .filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position:static;
    gap: 15px;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .filterByPrice {
    padding-top: 0;
  }
  .filterByRating {
    padding-bottom: 0;
  }
}
