.orderHistory,
.orderDetails {
  width: 100%;
  padding: 15px 0;
}
.orderList,
.orderDetailsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  width: 90%;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px;
  background-color: #b5bdbd25;
}
.OrderHistoryBox {
  display: flex;
  width: 95%;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}
.OrderHistoryBox .orderStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.OrderHistoryBox h4 {
  font-size: 16px;
  font-weight: 600;
}
.OrderHistoryBox p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
.OrderHistoryBox h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Dosis, sans-serif";
}
.OrderHistoryBox a {
  text-decoration: none;
}
.OrderHistoryBox button {
  width: 100px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.OrderHistoryBox button:hover {
  background-color: #02a6a333;
  color: var(--secondary-color);
}
.OrderHistoryBox button svg {
  font-size: 20px;
}
.orderDetailsBox .orderInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
}
.orderDetailsBox .orderInfo h4 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
.orderDetailsBox .orderInfo p {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
.orderDetailsBox .orderInfo a {
  text-decoration: none;
}
.removeOrBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.orderDetailsBox .orderInfo button {
  width: 80px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.orderDetailsBox .orderInfo button:hover {
  background-color: #02a6a333;
  color: var(--secondary-color);
}
.orderDetailsBox .orderInfo button svg {
  font-size: 20px;
}
.productsTable {
  width: 100%;
  margin: 20px 0;
}
.productsTable .tableHead tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.productsTable th {
  padding: 8px;
  text-align: center;
  font-family: "Dosis, sans-serif";
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.productsTable td {
  padding: 8px;
  text-align: center;
  font-family: "Dosis, sans-serif";
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.productsTable .image {
  width: 80px;
}
.productsTable img {
  width: 80px;
  height: 80px;
}
.productsTable .title {
  width: 200px;
}
.productsTable .price {
  width: 80px;
}
.productsTable .quantity {
  width: 80px;
}
.productsTable .totalPrice {
  width: 100px;
}
.productsPassedList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  padding: 15px;
}
.productsPassedList .productPassedBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}
.productsPassedList .productPassedBox a {
  text-decoration: none;
}

/***********************************************************************************************************************/

@media (min-width: 340px) and (max-width: 750px) {
  .OrderHistoryBox {
    flex-direction: column;
    gap: 10px;
    height: max-content;
    padding: 15px;
  }
  .OrderHistoryBox .orderStatus {
    gap: 20px;
  }
  .orderDetailsBox .orderInfo {
    flex-direction: column;
  }
  .productsTable .tableHead tr {
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .productsTable td {
    font-size: 12px;
  }
  .productsTable img {
    width: 40px;
    height: 40px;
  }
  .productsTable .image {
    width: max-content;
  }
  .productsTable .title {
    width: 100px;
    padding: 0;
  }
  .productsTable .price {
    width: max-content;
  }
  .productsTable .quantity {
    width: max-content;
  }
  .productsTable .totalPrice {
    width: max-content;
  }
  .productsPassedList {
    padding: 0;
  }
  .productsPassedList .productPassedBox {
    padding: 0;
  }
  .productsTable .tableHead tr {
    padding: 0;
  }
}
